<div>
  <h1><%= @flat.name %></h1>
  <p>Address: <%=  @flat.address %></p>
  <p>Price per night: <%=  @flat.price_per_night %></p>
  <p>Number of guests : <%=  @flat.number_of_guests %></p>
</div>

<div>
<i class="fas fa-undo"></i> <%= link_to "Back to list", flats_path %>
<br>
<br>
<i class="fas fa-edit"></i> <%= link_to "Edit", edit_flat_path(@flat) %>
</div>
<br>

